.principal-faq{
    margin: 5% 10% 5% 10%;
    display: grid;
    grid-template-columns: 50% 50%;  /* duas colunas de largura igual */
    
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.banner{
    width: 100%;
    height: 40vh;
    background-color: #005EF2 ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

details{
   background-color: #B0DFF9;
   margin: 2% 0 2% 0;
   border-radius: 10px;

   padding: 4% 0 4% 0;
}

summary{
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    text-align: left;
}

/*details summary::-webkit-details-marker{
    display: none;
}*/

.faq-titulo{
    color: #ffffff;
    font-family: 'roboto';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;

}

.faq-texto{
    color: #ffffff;
    font-family: 'roboto';
    font-size: 1.5rem;
    padding-top: 1%;
}

.titulo-duvida{
    font-family: 'roboto';
    color: #002359;
    font-weight: bold;
    
   
}


.texto-duvida{
    font-family: 'roboto';
    font-weight: light;
    padding: 5% 5% 0 5%;
    text-align: left;
   
}

/* 2º coluna do GRID*/
.container-chatbot{
    background-color: #B0DFF9;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 95%;

    margin-left: 10%;
}

.chatbot2-img{
    width: 30%;
}

.chatbot-titulo{
    color: #005EF2;
    font-family: 'roboto';
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2% 0 2% 0;

}

.chatbot-texto{
    font-family: 'roboto';
    font-size: 1rem;
    
}

.chatbot-btn{
    width: 80%;
    height: 10%;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;

    font-family: 'roboto';
    font-size: 1.5rem;
    color: #005EF2;
    font-weight: bold;
    text-transform: uppercase;
    
    margin-top: 2%;
}

@media (max-width: 768px) {

    .faq-seta{
        width: 15%;
        height: 10%;
    }

    .chatbot-titulo{
        color: #005EF2;
        font-family: 'roboto';
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 2% 0 2% 0;
    
    }
    
    .chatbot-texto{
        font-family: 'roboto';
        font-size: 1rem;
    }   
    .chatbot-btn{
            
    font-size: 0.9rem;
    margin: 0 0 10% 0;
            
}

}

@media  (max-width: 481px){
    .container-chatbot{
        grid-column: 1 ; /* Começa na segunda coluna e termina na quarta coluna */
        grid-row: 2; /* Fica na primeira linha */
        margin-left: 0%;
        width: 100%;
        height: 100%;

        margin: 20% 0 16% 0;

        padding: 0 0 0 0;

        
    }

    .chatbot2-img{
        width: 30%;
    }
    
    .chatbot-titulo{
        color: #005EF2;
        font-family: 'roboto';
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 2% 0 2% 0;
    
    }
    
    .chatbot-texto{
        font-family: 'roboto';
        font-size: 0.8rem;
        
    }
    
    .chatbot-btn{
        width: 80%;
        height: 10%;
        background-color: #ffffff;
        border: none;
        border-radius: 10px;
    
        font-family: 'roboto';
        font-size: 1rem;
        color: #005EF2;
        font-weight: bold;
        text-transform: uppercase;
        
        margin-top: 2%;
    }

    .principal-faq{
        display: grid;
        grid-template-columns: 100%; 
        margin: 5% 10% 5% 10%;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    
    }

   
    details{
       
        background-color: #B0DFF9;
        margin: 2% 0 2% 0;
        border-radius: 10px;
     
        padding: 4% 0 4% 0;
     }
     
     summary{
        
         display: flex;
         align-items: left;
         justify-content: space-between;
         padding: 0 5% 0 5%;
         text-align: left;
     }
     
     .faq-seta{
        width: 10%;
        height: 10%;
    }

    .faq-titulo{
        font-size: 2rem;
    
    }
    
    .faq-texto{
        color: #ffffff;
        font-family: 'roboto';
        font-size: 1rem;
        padding-top: 1%;
    }
}