.perfil{
   background-color: #D9D9D9;
   margin: 5% 5% 5% 5%;
}

.container-perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 5% 5% 5% 5%;
}

.container-veiculo-propriedades{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.img-veiculo-chamado{
    width: 30%;
    height: 30%;
}



.container-veiculo h1{
    height: 2rem;
    text-align: center;
    background-color: #005EF2;
    text-transform: uppercase;
    color: #ffffff;
}


.container-chamados h1{
    height: 2rem;
    text-align: center;
    background-color: #005EF2;
    text-transform: uppercase;
    color: #ffffff;
}

.veiculo-nome-propriedade{
    font-weight: bold;
    text-transform: uppercase;
}

.chamados-historico{
    margin: 5% 5% 5% 5%;
    padding-bottom: 5%;
}